.parent{
    background-color: whitesmoke;
    width: 750px;
    height: inherit;
}
.parent .box .block {
    width: 100px;
    height: 100px;
}
.parent .box{
    display: flex;
    margin-top: 10px;
    border-bottom-width: 3px;
    border-bottom-style: dashed;
    border-bottom-color: red;
    margin-left: 10px;
    padding: 20px;
}
.parent .box .block-1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    color: white;
    background-color: rgb(240, 100, 240);
}
.parent .box .block-a{
    width: 600px;
    height: 100px;
    margin-left: 35px;
}
.parent .box .block-1 h3{
    margin-top: 30px;
}